.social-links {
    display: flex;
    /* margin: 0.5rem 0 0.2rem auto; */
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.2rem;
    flex-wrap: wrap;
}
.social-links a {
    background: var(--socials-bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid var(--border-color);
    color: var(--social-color);
    transition: all 0.3s;
}
.social-links a svg {
    width: 50%;
    height: 50%;
}
.social-links a:hover {
    border: 1px solid var(--active);
}