.profile_name {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 0.30rem;
    line-height: 1px;
}
.profile_name h2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}
.profile_name p {
    margin-top: 10px;
    font-size: 1.05rem;
    color: var(--text-bg);
}
.profile_name img {
    width: 20px;
}
